.areaNav {
    border-top: 3px solid rgba(51, 50, 61, 0.15);
    border-bottom: 3px solid rgba(51, 50, 61, 0.15);
    display: flex;
    justify-content: space-between;
    margin: 60px 0px 115px 0px;
    padding: 30px 0px;
    width: 84%;
}

.bordaInferior {
    border-bottom: 2px solid rgba(51, 50, 61, 0.15);
    margin-top: 45px;
}

.bloco {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.finalCards img {
    width: 635px;
    margin-bottom: 30px;
}

.infoTec {
    color: #5FB4A2;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;
    margin-top: 50px;
}

.setaNav:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.subArea {
    display: flex;
    align-items: center;
    gap: 30px;
}

.subArea h2 {
    color: #33323D;
    font-family: 'Ibarra Real Nova', serif;
    font-size: 32px;
    font-weight: 400;
}

.subArea span {
    color: #33323D;
    font-family: 'Public Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.5;
}

.subBloco {
    border-top: 3px solid rgba(51, 50, 61, 0.15);
    margin-top: 100px;
    padding-top: 40px;
    width: 400px;
}

.subBloco button {
    color: #33323D;
    letter-spacing: 2px;
    padding: 17px 60px;
}

.subBloco2 {
    margin-top: 100px;
    width: 610px;
}

.subBloco2 h2 {
    color: rgba(51, 50, 61, 1);
    font-weight: 400;
    margin-bottom: 20px;
}

.tituloGrafico {
    font-size: 32px;
    letter-spacing: -0.29px;
    margin-top: 60px;
}

.topCard img {
    width: 1110px;
}